@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.navbar{
    padding: 10px;
    position: fixed; /* make the navbar stay on top of the page */
    top: 0; /* position it at the top of the page */
    width: 100%;
    background-color: #465656;
    display: flex;
    align-items: center;
    justify-content: center; /* center the text and image */
}
  
.navbar-text{
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    /* Hide the text */
    opacity: 0;
    transform: translateX(5%);
    transition: opacity 750ms ease-in-out, transform 700ms ease-in-out;
}

.navbar-text.visible{
    opacity: 1;
}

.nav-img{
    height: 50px;
    width: 50px;
    align-self: center;
    cursor: pointer;
}

.navbar-text h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #ffe8ce;
}

/* Default setting for screens larger than 768px */
.mods{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(5, minmax(160px, 1fr));
    grid-gap: 5px;
    align-content: center;
    justify-content: center;
}

.modpngs{
    width: 160px;
    height: 160px;
    cursor: pointer;
}

.modpngs:hover{
    filter: brightness(0.85);
    transition: filter ease-in-out 350ms;
}

.donate-container{
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.donate-text{
    font-family: Sarabun;
    margin-right: 10px;
}

.donate-header{
    font-weight: 600;
    font-size: 14px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.donate-text h3{
    font-weight: 400;
    font-size: 11px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.banknum{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.bank-number{
    font-weight: 600;
    font-size: 24px;
}

.socialLinks{
    margin-top: 50px;
}

.socialLinks img{
    height: 25px;
    margin: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

@media screen and (max-width: 768px){

    .page-wrapper{
        margin-top: 30px;
    }

    .bio-container{
        grid-template-columns: 75px 150px;
        grid-gap: 5px;
        align-content: center;
        justify-content: center;
    }

    .bio-img {
        height: 75px;
        width: 75px;
    }

    .bio-text h1{
        font-size: 22px;
    }

    .bio-text p{
        font-size: 8.5px;
    }

    .mods{
        grid-template-columns: repeat(2, minmax(130px, 1fr));
        margin-left: 10px;
        margin-right: 10px;
    }

    .modpngs{
        width: 130px;
        height: 130px;
    }

    .socialLinks img{
        height: 20px;
    }

}
