@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:ital,wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::placeholder {
    color: #ffe8ce;
}

.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    background-color: #465656;
    background-image: url("../pngs/BG.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.page-wrapper::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: 0;
}

.navbar {
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(70, 86, 86, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
  
.navbar-text {
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    opacity: 0;
    transform: translateX(5%);
    transition: opacity 700ms ease-in-out, transform 700ms ease-in-out;
}

.navbar-text.visible {
    opacity: 1;
}

.navbar-text h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #ffe8ce;
}

.banner {
    position: relative;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    z-index: 1;
}

.bannerDescrp {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    color: #ffe8ce;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.223);
}

.topHS {
    width: 25%;
}

.search-container {
    position: relative;
    z-index: 1;
    margin-top: 75px;
    border-bottom: 0.1em solid #ffe8ce;
}

.search-input {
    color: #ffe8ce;
    border: none;
    outline: none;
    font-family: Poppins, Sarabun;
    font-size: 14px;
    width: 200px;
    height: 30px;
    background-color: transparent;
}

.modsBlock {
    position: relative;
    z-index: 1;
    margin-top: 35px;
    background-color: rgba(70, 86, 86, 0.799);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.mods {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(5, minmax(160px, 1fr));
    grid-gap: 5px;
    align-content: center;
    justify-content: center;
}

.modpngs {
    width: 160px;
    height: 160px;
    cursor: pointer;
    border-radius: 10%;
    opacity: 95%;
}

.modpngs:hover {
    filter: brightness(0.85);
    transition: filter 350ms ease-in-out;
}

.donate-container {
    position: relative;
    z-index: 1;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.donate-text {
    font-family: Poppins, IBM Plex Sans Thai;
    margin-right: 10px;
    line-height: 22px;
    color: #ffe8ce;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.223);
}

.donate-header {
    font-weight: 600;
    font-size: 16px;
    user-select: none;
}

.donate-text h3 {
    font-weight: 400;
    font-size: 12px;
    user-select: none;
}

.banknum {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.bank-number {
    font-weight: 600;
    font-size: 24px;
}

.socialLinks {
    position: relative;
    z-index: 1;
    margin-top: 50px;
}

.socialLinks img {
    height: 25px;
    margin: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    filter: invert(85%);
}

@media screen and (max-width: 768px){

    .banner {
        margin-top: 20%;
    }

    .bannerDescrp {
        font-size: 4.2vw;
        line-height: 120%;
    }

    .topHS {
        width: 40%;
    }

    .search-container {
        margin-top: 8vw;
    }

    .search-input {
        width: 150px;
        height: 25px;
    }

    .mods {
        margin-top: 10px;
        grid-template-columns: repeat(2, minmax(130px, 1fr));
        margin-left: 10px;
        margin-right: 10px;
    }

    .modpngs {
        width: 130px;
        height: 130px;
    }

    .socialLinks img {
        height: 20px;
        width: 20px;
    }

}
