*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box
;}

.page-wrapper{
    display: flex;
    max-width: 1500px;
    justify-content: center;
    margin-top: 60px;}

.bio-container {
    display: grid;
    grid-template-columns: 125px 375px;
    align-content: center;
}

.bio-img {
    grid-column: 1;
    height: 100px;
    width: 100px;
    align-self: center;
}


.bio-text{
    grid-column: 2;
    font-family: 'Poppins', sans-serif;
    align-self: center;
/* Hide the text */
    opacity: 0;
    transform: translateX(5%);
    transition: opacity 700ms ease-in-out, transform 700ms ease-in-out;
}

/* Show the text when the 'visible' class is added */
.bio-text.visible {
    opacity: 1;
    transform: translateX(0);
}